@model AuthenticateDevelopers

<br/>
<div class="row center-align">
    <div class="card col s12 l6 offset-l3 offset-m1 z-depth-2">
        <div class="card-content">
            <p class="blue-grey-text text-darken-2">Don't have account? Let's create an <a asp-controller="Account" asp-route-returnUrl="@ViewBag.returnUrl" asp-action="Register">account</a></p>
            <form method="post" class="col s12">
                <div asp-validation-summary="All" class="red-text text-darken-1"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input required="" aria-required="true" asp-for="DevEmail" class="validate ">
                        <label asp-for="DevEmail">Email</label>
                        <span class="red-text text-darken-1" asp-validation-for="DevEmail"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input required="" aria-required="true" asp-for="DevPassword" class="validate">
                        <label asp-for="DevPassword">Password</label>
                        <span class="red-text text-darken-1" asp-validation-for="DevPassword"></span>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn indigo">Let's dig in !</button>
                </div>
                <br/>
            </form>
        </div>
        </div>
</div>