@model InitDevelopers

<div class="row center-align">
    <div class="card col s12 l6 offset-l3 offset-m1 z-depth-2">
        <div class="card-content">
        <p>Already have account? <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewBag.returnUrl">Let's Dig In</a></p>
        <form method="post" class="col s12">
            <div asp-validation-summary="All" class="red-text text-darken-1"></div>
            <div class="row">
                <div class="input-field col s12">
                    <input required="" aria-required="true" asp-for="DevEmail" class="validate">
                    <label asp-for="DevEmail">Email</label>
                    <span class="red-text text-darken-1" asp-validation-for="DevEmail"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input required="" aria-required="true" asp-for="DevPassword" class="validate">
                    <label asp-for="DevPassword">Password</label>
                    <span class="red-text text-darken-1" asp-validation-for="DevPassword"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input required="" aria-required="true" asp-for="DevConfirmPassword" class="validate">
                    <label asp-for="DevConfirmPassword">Confirm Password</label>
                    <span class="red-text text-darken-1" asp-validation-for="DevConfirmPassword"></span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn indigo">SignUp</button>
            </div>
            <br/><br/>
        </form>
        </div>
    </div>
</div>