@using Newtonsoft.Json
@model NoResume.Models.Dev

@{
    Layout = "_PremiumLayout";
}
<div class="row">
<div class="center-align">
    <div class="title col s12 m12 l9 right">
        <h2 class="blue-grey-text text-darken-4">John Doe</h2> <!-- title name -->
        <span class="teal-text teal-darken-3">UI & UX Expert</span> <!-- tagline -->
        <h4></h4>
    </div>
</div>
<!-- =========================================
SIDEBAR   
==========================================-->
<!-- Start Sidebar -->
<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
    <!--  Sidebar row -->
    <div class="row">
        <!--  top section   -->
        <div class="heading">
            <!-- ====================
            IMAGE   
            ==========================-->
            <div class="feature-img">
                <a href="#"><img src="assets/img/profile.jpg" class="responsive-img" alt=""></a>
            </div>

            <!-- ========================================
            NAME AND TAGLINE
            ==========================================-->
        </div>
        <!-- sidebar info -->
        <div class="col l12 m12 s12 sort-info sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <!-- icon -->
                    <i class="fa fa-user"></i>
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s">
                    <!-- text -->
                    <div class="section-item-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore magna aliqua . Ld do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE NUMBER -->
        <div class="col l12 m12 s12  mobile sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-phone"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4><a href="tel:555-555-5555">(111)-333-4444</a></h4> <!-- Number -->
                            <span>mobile</span>
                        </div>
                        <div class="work">
                            <h4><a href="tel:555-555-5555">(121)-323-3494</a></h4> <!-- Number -->
                            <span>work</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  EMAIL -->
        <div class="col l12 m12 s12  email sidebar-item ">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-envelope"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4><a href="mailto:someone@example.com">mail@alrayhan.com</a></h4>
                            <!-- Email -->
                            <span>personal</span>
                        </div>
                        <div class="work">
                            <h4><a href="mailto:someone@example.com">ar@deviserweb.com</a></h4>
                            <!-- Email -->
                            <span>work</span> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADDRESS  -->
        <div class="col l12 m12 s12  address sidebar-item ">
            <div class="row">
                <div class="col l3 m12  s12 icon">
                    <i class="fa fa-home"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s">
                    <div class="section-item-details">
                        <div class="address-details">
                            <!-- address  -->
                            <h4>24 Golden Tower <span>(2nd floor)</span><br>
                                Amborkhana, Sylhet.<br>
                                <span>SYL-3RF87W</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SKILLS -->
        <div class="col l12 m12 s12  skills sidebar-item">
            <div class="row">
                <div class="col m12 l3 s12 icon">
                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                </div>
                <!-- Skills -->
                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                    <h3>Professional Skills </h3>
                    <ul>
                        <li>Adobe Photoshop</li>
                        <li>Java</li>
                        <li>Database SQLServer</li>
                        <li>.NET Core</li>
                        <li>PLSQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</aside><!-- end sidebar -->

<!-- =========================================
Work experiences
==========================================-->

<section class="col s12 m12 l8 section">
    <div class="row">
        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-suitcase"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                <h2>Work Experience</h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                    <h3>UI/UX Designer <span></span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                    <h3>Creative Director <span></span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>Graphics Designer <span> Wrold</span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>

        <!-- ========================================
        Education 
        ==========================================-->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                <h2>Education </h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s"><span>JAN 2013 - DEC 2013 </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                    <h3>Post Graduation <span></span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>TTMP Degree <span> School</span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>


        <!--  Project section   -->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                <h2>Projects </h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                    <h3>NoResume</h3>
                    <span>Web Application</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                    <h3>eChartify</h3>
                    <span>Web Application</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>CadetKid</h3>
                    <span>Web Application</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>




        <!-- ========================================
        Intertests 
        ==========================================-->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-plane"></i>
            </div>
            <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s">
                <h2>Interestes </h2>
                <ul>
                    <!-- interetsr icon start -->
                    <li><i class="fa fa-camera-retro tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Photography"></i></li>
                    <li><i class="fa fa-glass tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Drinking"></i></li>
                    <li><i class="fa fa-headphones tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Music"></i></li>
                    <li><i class="fa fa-comments tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Chatting"></i></li>
                    <li><i class="fa fa-coffee tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Coffee"></i></li>
                </ul> <!-- interetsr icon end -->
            </div>
        </div>
        <!-- =======================================
        portfolio Website
        ==========================================-->

        <div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">
            <div class="col s12 m12 l10 website right">
                <div class="row">
                    <div class="col s12 m12 l6">
                        <span><a href="">www.alrayhan.com</a></span>
                    </div>
                    <div class="col col s12 m12 l6">
                        <span><a href="">www.dribble.com/rtralrayhan</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</section><!-- end section -->
</div>

<div class="row">
    <section class="col s12 l12 section">
        
        
        <!--  Github html  -->
        
        
        <div id="GithubResume" class="row">
            <div class="card grey darken-4 white-text">
                <div class="card-content">
                    <h4 class="orange-text text-lighten-2"><b>GitHub Summary</b></h4>
                    <div class="row">
                        <div class="col s12 m6 l4 card-width">
                            <div class="card card-border center-align blue-grey darken-4">
                                <div class="card-content white-text">
                                    <div class="col s12"><i class="fab fa-github right white-text"></i></div><img id="_githubAvatar" class="responsive-img circle z-depth-4" width="100" src="" alt=""/>
                                    <h5 class="white-text mb-1" id="_githubDevName"></h5>
                                    <p class="m-0" id="_githubDevLocation"></p>
                                    <p class="mt-8" id="_githubDevBio"></p>
                                    <div class="row"> <a href="" target="_blank" id="_gitHubDevURL" class="waves-effect waves-light btn gradient-45deg-deep-orange-orange border-round mt-7 z-depth-4"><i class="fas fa-rss white-text"></i> Follow</a> <a href="" target="_blank" id="_gitHubDevPortfolioLink" class="waves-effect waves-light btn gradient-45deg-green-teal border-round mt-7 z-depth-4"><i class="fas fa-blog white-text"></i> Portfolio</a> </div>
                                    <br/>
                                    <div class="row mt-6">
                                        <a href="#" class="col s6">
                                            <p class="white-text"><b id="_githubDevFollowers"></b></p>
                                            <p class="white-text">Followers</p>
                                        </a>
                                        <a href="#" class="col s6">
                                            <p class="white-text"><b id="_githubDevFollowing"></b></p>
                                            <p class="white-text">Following</p>
                                        </a>
                                    </div>
                                    <br/>
                                    <div class="row mt-6">
                                        <a href="#" class="col s6">
                                            <p class="white-text"><b id="_githubDevPublicRepos"></b></p>
                                            <p class="white-text">Repositories</p>
                                        </a>
                                        <a href="#" class="col s6">
                                            <p class="white-text"><b id="_githubDevPublicGists"></b></p>
                                            <p class="white-text">Gists</p>
                                        </a>
                                    </div>
                                    <br/>
                                    <br/>
                                    <hr/>
                                    <div class="row mt-6">
                                        <a href="#" class="col s6">
                                            <p class="white-text"><b id="_githubDevAccCreated"></b></p>
                                            <p class="white-text">Created</p>
                                        </a>
                                        <a href="#" class="col s6">
                                            <p class="white-text"><b id="_githubDevLastActive"></b></p>
                                            <p class="white-text">Last Updated</p>
                                        </a>
                                    </div>
                                    <br/> </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l8">
                            <div class="card blue-grey darken-4 white-text">
                                <h5 class="center white-text"><b>Lines/Languages in Last 10 Projects</b></h5>
                                <div class="card-content">
                                    <div class="sample-chart-wrapper">
                                        <canvas id="languages_github" height="280"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--  Github html ends   -->

    <!--  Codeforces html initiates   -->

        <div id="CForcesResume">
            <h4 class="orange-text text-lighten-2"><b>Codeforces Profile Summary</b></h4>
            <div id="chartjs-pie-chart" class="card grey darken-4 white-text">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <p class="header center white-text"><b>Ratings of problem solved</b></p>
                                    <div class="sample-chart-wrapper">
                                        <canvas id="problem_rating_codeForces_bar" height="250"></canvas>
                                    </div>
                                </div>
                                <div class="col s12 m6 l6">
                                    <p class="header center white-text"><b>Level of problems solved</b></p>
                                    <div class="sample-chart-wrapper">
                                        <canvas id="levels_codeForces_bar" height="250"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card grey darken-4 white-text">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <h6 class="header center white-text"><b>Verdicts of problems tried</b></h6>
                                    <div class="sample-chart-wrapper">
                                        <canvas id="verdicts_codeForces_pie" height="250"></canvas>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <h6 class="header center white-text"><b>Tags of problems tried</b></h6>
                                    <div class="sample-chart-wrapper">
                                        <canvas id="tags_codeForces_doughnut" height="250"></canvas>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <h6 class="header center white-text"><b>Languages used</b></h6>
                                    <div class="sample-chart-wrapper">
                                        <canvas id="languages_codeForces_pie" height="250"></canvas>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <h6 class="white-text"><b class="orange-text text-lighten-2">Figures: </b> Hover/touch over pie/doughnut charts</h6> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table class="centered responsive-table grey darken-3 white-text">
                        <thead>
                        <tr class="gradient-45deg-blue-blue darken-4 white-text">
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody class="blue-grey darken-4">
                        <tr>
                            <td>Problems Tried</td>
                            <td id="DevTriedProblems"></td>
                        </tr>
                        <tr>
                            <td>Solved</td>
                            <td id="DevSolvedProblems"></td>
                        </tr>
                        <tr>
                            <td>Maximum Attempt</td>
                            <td id="DevMaxAttemptedProblems"></td>
                        </tr>
                        <tr>
                            <td>Max Solved</td>
                            <td id="DevMaxAcceptedProblems"></td>
                        </tr>
                        <tr>
                            <td>Accepted at 1st try</td>
                            <td id="DevAcceptedAtFirstTry"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    <!-- Codeforces html ends  -->
        
    <!--  UVA html   -->
        
    <div id="UHuntResume" class="row">
        <h3 class="white-text">UVA Profile Summary</h3>
        <hr/>
        <div class="row" id="gradient-Analytics">
            <div class="col s12 m6 l4 card-width">
                <div class="card gradient-45deg-blue-indigo white-text padding-4 mt-5">
                    <div class="col s7 m7"> <i class="material-icons background-round mt-5 mb-5">send</i>
                        <p>Total Submissions</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text">01</h5>
                        <br/>
                        <h5 class="count white-text" id="_uvaTotalSubmissions"></h5> </div>
                </div>
            </div>
            <div class="col s12 m6 l4 card-width">
                <div class="card teal darken-1 white-text padding-4 mt-5">
                    <div class="col s7 m7"> <i class="material-icons background-round mt-5 mb-5">sentiment_very_satisfied</i>
                        <p>Total Accepted</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text">02</h5>
                        <br/>
                        <h5 class="count white-text" id="_uvaAcceptedSubmissionNumber"></h5> </div>
                </div>
            </div>
            <div class="col s12 m6 l4 card-width">
                <div class="card red lighten-1 white-text padding-4 mt-5">
                    <div class="col s7 m7"> <i class="material-icons background-round mt-5 mb-5">sentiment_very_dissatisfied</i>
                        <p>Wrong Answers</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text">03</h5>
                        <br/>
                        <h5 class="count white-text" id="_uvaTotalWrongSubmissions"></h5> </div>
                </div>
            </div>
        </div>
        <div id="customLoaderRegression">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div id="_regressionAnalytics" class="row">
            <p class="center-align">Regression DataSet</p>
            <div class="col s12 l12 m12 container">
                <table id="_regressionSetTable" class="responsive-table grey darken-3">
                    <thead>
                    <tr class="purple darken-2 white-text">
                        <th>Name</th>
                        <th>Ranking (Y)</th>
                        <th>SE (X<sub>1</sub>)</th>
                        <th>CBJ (X<sub>2</sub>)</th>
                        <th>Queue (X<sub>3</sub>)</th>
                        <th>CE (X<sub>4</sub>)</th>
                        <th>Restricted (X<sub>5</sub>)</th>
                        <th>RE (X<sub>6</sub>)</th>
                        <th>OL (X<sub>7</sub>)</th>
                        <th>TL (X<sub>8</sub>)</th>
                        <th>ML (X<sub>9</sub>)</th>
                        <th>Wrong (X<sub>10</sub>)</th>
                        <th>PE (X<sub>11</sub>)</th>
                        <th>Accepted (X<sub>12</sub>)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="_rankAboveRow"></tr>
                    <tr id="_subjectRow"></tr>
                    <tr id="_rankBelowRow"></tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <br/>
            <p class="center-align"><b class="green-text">Note :</b> Ranking model implementation based on Linear Regression is about to arrive soon in Version 2.0 </p>
        </div>
    </div>
    
    <!--  UVA html ends  -->

    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_DevPremium");
    }
}