@using Newtonsoft.Json
@model NoResume.Models.Dev

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @{
          string requestJson = JsonConvert.SerializeObject(Model);
      }
      <p>@requestJson</p>
</div>
</body>
</html>