@using Newtonsoft.Json
@model NoResume.Models.Dev

@{
    Layout = "_PremiumLayout";
}
<div class="row">
<div class="center-align">
    <div class="title col s12 m12 l9 right">
        <h2 class="blue-grey-text text-darken-4">John Doe</h2> <!-- title name -->
        <span class="teal-text teal-darken-3">UI & UX Expert</span> <!-- tagline -->
        <h4></h4>
    </div>
</div>
<!-- =========================================
SIDEBAR   
==========================================-->
<!-- Start Sidebar -->
<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
    <!--  Sidebar row -->
    <div class="row">
        <!--  top section   -->
        <div class="heading">
            <!-- ====================
            IMAGE   
            ==========================-->
            <div class="feature-img">
                <a href="#">
                    <img src="~/premium_template/img/profile.jpg" class="responsive-img" alt="">
                </a>
            </div>

            <!-- ========================================
            NAME AND TAGLINE
            ==========================================-->
        </div>
        <!-- sidebar info -->
        <div class="col l12 m12 s12 sort-info sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <!-- icon -->
                    <i class="fa fa-user"></i>
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s">
                    <!-- text -->
                    <div class="section-item-details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore magna aliqua . Ld do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE NUMBER -->
        <div class="col l12 m12 s12  mobile sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-phone"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4>
                                <a href="tel:555-555-5555">(111)-333-4444</a>
                            </h4> <!-- Number -->
                            <span>mobile</span>
                        </div>
                        <div class="work">
                            <h4>
                                <a href="tel:555-555-5555">(121)-323-3494</a>
                            </h4> <!-- Number -->
                            <span>work</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  EMAIL -->
        <div class="col l12 m12 s12  email sidebar-item ">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-envelope"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4>
                                <a href="mailto:someone@example.com">mail@alrayhan.com</a>
                            </h4>
                            <!-- Email -->
                            <span>personal</span>
                        </div>
                        <div class="work">
                            <h4>
                                <a href="mailto:someone@example.com">ar@deviserweb.com</a>
                            </h4>
                            <!-- Email -->
                            <span>work</span> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADDRESS  -->
        <div class="col l12 m12 s12  address sidebar-item ">
            <div class="row">
                <div class="col l3 m12  s12 icon">
                    <i class="fa fa-home"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s">
                    <div class="section-item-details">
                        <div class="address-details">
                            <!-- address  -->
                            <h4>
                                24 Golden Tower <span>(2nd floor)</span><br>
                                Amborkhana, Sylhet.<br>
                                <span>SYL-3RF87W</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SKILLS -->
        <div class="col l12 m12 s12  skills sidebar-item">
            <div class="row">
                <div class="col m12 l3 s12 icon">
                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                </div>
                <!-- Skills -->
                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                    <h3>Professional Skills </h3>

                    <span>Adobe Photoshop</span>
                    <div class="progress">
                        <div class="determinate"> 70% </div>
                    </div>

                    <span>HTML</span>
                    <div class="progress">
                        <div class="determinate"> 95%</div>
                    </div>

                    <span>CSS</span>
                    <div class="progress">
                        <div class="determinate">90%</div>
                    </div>

                    <span>Javascript</span>
                    <div class="progress">
                        <div class="determinate">85%</div>
                    </div>

                    <span>PHP</span>
                    <div class="progress">
                        <div class="determinate">70%</div>
                    </div>

                    <span>JAVA</span>
                    <div class="progress">
                        <div class="determinate">55%</div>
                    </div>

                    <span>SQL</span>
                    <div class="progress">
                        <div class="determinate">40%</div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</aside><!-- end sidebar -->

<!-- =========================================
Work experiences
==========================================-->

<section class="col s12 m12 l8 section">
<div class="row">
<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-suitcase"></i>
    </div>
    <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
        <h2>Work Experience</h2>

        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
            <h3>UI/UX Designer</h3>
            <span>JAN 2013 - DEC 2013 </span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et dolore magna aliqua.
            </p>
        </div>
        <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
            <h3>Creative Director</h3>
            <span>JAN 2013 - DEC 2013 </span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
        <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
            <h3>Graphics Designer </h3>
            <span>JAN 2013 - DEC 2013 </span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>

<!-- ========================================
Education 
==========================================-->

<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
        <h2>Education </h2>

        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
            <h3>Art & Multimedia </h3>
            <span>JAN 2013 - DEC 2013 </span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
            <h3>Post Graduation <span></span></h3>
            <span>JAN 2013 - DEC 2013 </span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
            <h3>TTMP Degree</h3>
            <span>JAN 2013 - DEC 2013 </span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>


<!--  Project section   -->

<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-shopping-bag"></i>
    </div>
    <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
        <h2>Projects </h2>

        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
            <h3>NoResume</h3>
            <span>Web Application</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
            <h3>eChartify</h3>
            <span>Web Application</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
            <h3>CadetKid</h3>
            <span>Web Application</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>



<!-- =======================================
portfolio Website
==========================================-->

<div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">
    <div class="col s12 m12 l10 website right">
        <div class="row">
            <div class="col s12 m12 l6">
                <span>
                    <a href="">www.alrayhan.com</a>
                </span>
            </div>
            <div class="col col s12 m12 l6">
                <span>
                    <a href="">www.dribble.com/rtralrayhan</a>
                </span>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section class="col s12 m12 l12 section">
<div class="col s12 l12">
    <div id="GithubResume" class="row">
        <div class="card grey darken-4 white-text">
            <div class="card-content">
                <h4 class="orange-text text-lighten-2">
                    <b>GitHub Summary</b>
                </h4>
                <div class="row">
                    <div class="col s12 m6 l4 card-width">
                        <div class="card card-border center-align blue-grey darken-4">
                            <div class="card-content white-text">
                                <div class="col s12">
                                    <i class="fab fa-github right white-text"></i>
                                </div><img id="_githubAvatar" class="responsive-img circle z-depth-4" width="100" src="" alt=""/>
                                <h5 class="white-text mb-1" id="_githubDevName"></h5>
                                <p class="m-0" id="_githubDevLocation"></p>
                                <p class="mt-8" id="_githubDevBio"></p>
                                <div class="row">
                                    <a href="" target="_blank" id="_gitHubDevURL" class="waves-effect waves-light btn gradient-45deg-deep-orange-orange border-round mt-7 z-depth-4"><i class="fas fa-rss white-text"></i> Follow</a> <a href="" target="_blank" id="_gitHubDevPortfolioLink" class="waves-effect waves-light btn gradient-45deg-green-teal border-round mt-7 z-depth-4"><i class="fas fa-blog white-text"></i> Portfolio</a>
                                </div>
                                <br/>
                                <div class="row mt-6">
                                    <a href="#" class="col s6">
                                        <p class="white-text">
                                            <b id="_githubDevFollowers"></b>
                                        </p>
                                        <p class="white-text">Followers</p>
                                    </a>
                                    <a href="#" class="col s6">
                                        <p class="white-text">
                                            <b id="_githubDevFollowing"></b>
                                        </p>
                                        <p class="white-text">Following</p>
                                    </a>
                                </div>
                                <br/>
                                <div class="row mt-6">
                                    <a href="#" class="col s6">
                                        <p class="white-text">
                                            <b id="_githubDevPublicRepos"></b>
                                        </p>
                                        <p class="white-text">Repositories</p>
                                    </a>
                                    <a href="#" class="col s6">
                                        <p class="white-text">
                                            <b id="_githubDevPublicGists"></b>
                                        </p>
                                        <p class="white-text">Gists</p>
                                    </a>
                                </div>
                                <br/>
                                <br/>
                                <hr/>
                                <div class="row mt-6">
                                    <a href="#" class="col s6">
                                        <p class="white-text">
                                            <b id="_githubDevAccCreated"></b>
                                        </p>
                                        <p class="white-text">Created</p>
                                    </a>
                                    <a href="#" class="col s6">
                                        <p class="white-text">
                                            <b id="_githubDevLastActive"></b>
                                        </p>
                                        <p class="white-text">Last Updated</p>
                                    </a>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l8">
                        <div class="card blue-grey darken-4 white-text">
                            <h5 class="center white-text">
                                <b>Lines/Languages in Last 10 Projects</b>
                            </h5>
                            <div class="card-content">
                                <div class="sample-chart-wrapper">
                                    <canvas id="languages_github" height="280"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DevPremium");
    }
}