@using Newtonsoft.Json
@model NoResume.Models.Dev

@{
    Layout = "_PremiumLayout";
}
<div class="row">
<div class="center-align">
    <div class="title col s12 m12 l9 right">
        <h2 class="blue-grey-text text-darken-4" id="p_fullname"></h2> <!-- title name -->
        <h4></h4>
    </div>
</div>
<!-- =========================================
SIDEBAR   
==========================================-->
<!-- Start Sidebar -->
<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
    <!--  Sidebar row -->
    <div class="row">
        <!--  top section   -->
        <div class="heading">
            <!-- ====================
            IMAGE   
            ==========================-->
            <div class="feature-img">
                <a href="#">
                    <img src="~/premiumtemplate/img/profile.jpg" class="responsive-img" alt="">
                </a>
            </div>

            <!-- ========================================
            NAME AND TAGLINE
            ==========================================-->
        </div>
        <!-- sidebar info -->
        <div class="col l12 m12 s12 sort-info sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <!-- icon -->
                    <i class="fa fa-user"></i>
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s">
                    <!-- text -->
                    <div class="section-item-details">
                        <p id="p_shortbio"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE NUMBER -->
        <div class="col l12 m12 s12  mobile sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-phone"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4 id="p_phonenumber"></h4> <!-- Number -->
                            <span>mobile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  EMAIL -->
        <div class="col l12 m12 s12  email sidebar-item ">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-envelope"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4 id="p_email"></h4>
                            <span>personal</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADDRESS  -->
        <div class="col l12 m12 s12  address sidebar-item ">
            <div class="row">
                <div class="col l3 m12  s12 icon">
                    <i class="fa fa-home"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s">
                    <div class="section-item-details">
                        <div class="address-details">
                            <!-- address  -->
                            <h4 id="p_address"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SKILLS -->
        <div class="col l12 m12 s12  skills sidebar-item">
            <div class="row">
                <div class="col m12 l3 s12 icon">
                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                </div>
                <!-- Skills -->
                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                    <h3>Professional Skills </h3>
                    <ul>
                        <li>Adobe Photoshop</li>
                        <li>Java</li>
                        <li>Database SQLServer</li>
                        <li>.NET Core</li>
                        <li>PLSQL</li>
                        <li>Algorithm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</aside><!-- end sidebar -->

<!-- =========================================
Work experiences
==========================================-->

<section class="col s12 m12 l8 section">
    <div class="row">
        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-suitcase"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                <h2>Work Experience</h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                    <h3>UI/UX Designer <span></span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                    <h3>Creative Director <span></span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua.
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>Graphics Designer <span> Wrold</span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>

        <!-- ========================================
        Education 
        ==========================================-->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                <h2>Education </h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                    <h3>Thesis <span></span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                    <h3>Post Graduation <span></span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>TTMP Degree <span> School</span></h3>
                    <span>JAN 2013 - DEC 2013 </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>


        <!--  Project section   -->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                <h2>Projects </h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                    <h3>NoResume</h3>
                    <span>Web Application</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                    <h3>eChartify</h3>
                    <span>Web Application</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>CadetKid</h3>
                    <span>Web Application</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>


    </div><!-- end row -->
</section><!-- end section -->
</div>

<div class="row">
<section class="col s12 l12 section">


<!--  Github html  -->


<div id="GithubResume" class="row">
    <h2 class="blue-grey-text text-darken-3 center-align">
        <b>GitHub Summary</b>
    </h2>
    <div class="card ">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m6 l4 card-width">
                    <div class="card card-border center-align">
                        <div class="card-content">
                            <div class="col s12">
                                <i class="fa fa-github right"></i>
                            </div><img id="_githubAvatar" class="responsive-img circle z-depth-1" width="100" src="" alt=""/>
                            <h4 class="mb-1 red-text" id="_githubDevName"></h4>
                            <p class="m-0" id="_githubDevLocation"></p>
                            <p class="mt-8" id="_githubDevBio"></p>
                            <br/>
                            <div class="row mt-6">
                                <a href="#" class="col s6">
                                    <p class="blue-grey-text text-darken-3">
                                        <b id="_githubDevFollowers"></b>
                                    </p>
                                    <p class="blue-grey-text text-darken-3">Followers</p>
                                </a>
                                <a href="#" class="col s6">
                                    <p class="blue-grey-text text-darken-3">
                                        <b id="_githubDevFollowing"></b>
                                    </p>
                                    <p class="blue-grey-text text-darken-3">Following</p>
                                </a>
                            </div>
                            <br/>
                            <div class="row mt-6">
                                <a href="#" class="col s6">
                                    <p class="blue-grey-text text-darken-3">
                                        <b id="_githubDevPublicRepos"></b>
                                    </p>
                                    <p class="blue-grey-text text-darken-3">Repositories</p>
                                </a>
                                <a href="#" class="col s6">
                                    <p class="blue-grey-text text-darken-3">
                                        <b id="_githubDevPublicGists"></b>
                                    </p>
                                    <p class="blue-grey-text text-darken-3">Gists</p>
                                </a>
                            </div>
                            <br/>
                            <br/>
                            <hr/>
                            <div class="row mt-6">
                                <a href="#" class="col s6">
                                    <p class="blue-grey-text text-darken-3">
                                        <b id="_githubDevAccCreated"></b>
                                    </p>
                                    <p class="blue-grey-text text-darken-3">Created</p>
                                </a>
                                <a href="#" class="col s6">
                                    <p class="blue-grey-text text-darken-3">
                                        <b id="_githubDevLastActive"></b>
                                    </p>
                                    <p class="blue-grey-text text-darken-3">Last Updated</p>
                                </a>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l8">
                    <div class="card z-depth-1 grey darken-4">
                        <h4 class="center-align white-text">
                            <b>Lines/Languages in Last 10 Projects</b>
                        </h4>
                        <div class="card-content">
                            <div class="sample-chart-wrapper">
                                <canvas id="languages_github" height="280"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Github html ends   -->

<!--  Codeforces html initiates   -->

<div id="CForcesResume">
    <h2 class="blue-grey-text text-darken-4 center-align">
        <b>Codeforces Profile Summary</b>
    </h2>
    <div id="chartjs-pie-chart" class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h4 class="header center indigo-text ">
                                <b>Ratings of problem solved</b>
                            </h4>
                            <div class="sample-chart-wrapper">
                                <canvas id="problem_rating_codeForces_bar" height="250"></canvas>
                            </div>
                        </div>
                        <div class="col s12 m6 l6">
                            <h4 class="header center indigo-text">
                                <b>Level of problems solved</b>
                            </h4>
                            <div class="sample-chart-wrapper">
                                <canvas id="levels_codeForces_bar" height="250"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card z-depth-1">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <h4 class="header center indigo-text">
                                <b>Verdicts of problems tried</b>
                            </h4>
                            <div class="sample-chart-wrapper">
                                <canvas id="verdicts_codeForces_pie" height="250"></canvas>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <h4 class="header center indigo-text">
                                <b>Tags of problems tried</b>
                            </h4>
                            <div class="sample-chart-wrapper">
                                <canvas id="tags_codeForces_doughnut" height="250"></canvas>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <h4 class="header center indigo-text">
                                <b>Languages used</b>
                            </h4>
                            <div class="sample-chart-wrapper">
                                <canvas id="languages_codeForces_pie" height="250"></canvas>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <h6 class="indigo-text center-align"><b class="orange-text text-lighten-2">Figures: </b> Hover/touch over pie/doughnut charts</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="centered responsive-table blue darken-4">
                <thead>
                <tr class="gradient-45deg-blue-blue darken-4 white-text">
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody class="indigo lighten-5 black-text">
                <tr>
                    <td>Problems Tried</td>
                    <td id="DevTriedProblems"></td>
                </tr>
                <tr>
                    <td>Solved</td>
                    <td id="DevSolvedProblems"></td>
                </tr>
                <tr>
                    <td>Maximum Attempt</td>
                    <td id="DevMaxAttemptedProblems"></td>
                </tr>
                <tr>
                    <td>Max Solved</td>
                    <td id="DevMaxAcceptedProblems"></td>
                </tr>
                <tr>
                    <td>Accepted at 1st try</td>
                    <td id="DevAcceptedAtFirstTry"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Codeforces html ends  -->

<!--  UVA html   -->

<div id="UHuntResume" class="row">
    <h3 class="white-text">UVA Profile Summary</h3>
    <div class="row" id="gradient-Analytics">
        <div class="col s12">
            <div class="col s12 l4">
                <div class="card card-1 ucard">
                    <h3>Total Submission</h3>
                    <h4 class="count blue-grey-text text-darken-4" id="_uvaTotalSubmissions"></h4>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card card-2 ucard">
                    <h3>Accepted</h3>
                    <h4 class="count blue-grey-text text-darken-4" id="_uvaAcceptedSubmissionNumber"></h4>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card card-3 ucard">
                    <h3>Wrong Submission</h3>
                    <h4 class="count blue-grey-text text-darken-4" id="_uvaTotalWrongSubmissions"></h4>
                </div>
            </div>
        </div>
    </div>

    <div id="_regressionAnalytics" class="row">
        <p class="center-align">Regression DataSet</p>
        <div class="col s12 l12 m12 container">
            <table id="_regressionSetTable" class="responsive-table grey darken-3">
                <thead>
                <tr class="purple darken-2 white-text">
                    <th>Name</th>
                    <th>Ranking (Y)</th>
                    <th>SE (X<sub>1</sub>)</th>
                    <th>CBJ (X<sub>2</sub>)</th>
                    <th>Queue (X<sub>3</sub>)</th>
                    <th>CE (X<sub>4</sub>)</th>
                    <th>Restricted (X<sub>5</sub>)</th>
                    <th>RE (X<sub>6</sub>)</th>
                    <th>OL (X<sub>7</sub>)</th>
                    <th>TL (X<sub>8</sub>)</th>
                    <th>ML (X<sub>9</sub>)</th>
                    <th>Wrong (X<sub>10</sub>)</th>
                    <th>PE (X<sub>11</sub>)</th>
                    <th>Accepted (X<sub>12</sub>)</th>
                </tr>
                </thead>
                <tbody>
                <tr id="_rankAboveRow"></tr>
                <tr id="_subjectRow"></tr>
                <tr id="_rankBelowRow"></tr>
                </tbody>
            </table>
        </div>
        <br/>
        <br/>
        <p class="center-align"><b class="green-text">Note :</b> Ranking model implementation based on Linear Regression is about to arrive soon in Version 2.0 </p>
    </div>
</div>

<!--  UVA html ends  -->

</section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DevPremium");
    }
}